.active{
  color: rgba(215, 16, 42, 0.643);
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    text-align: center;
}

/* Dashboard বা global CSS ফাইলে যোগ করো */
ul.MuiChartsLegend-root {
  color: white !important; /* legend text white হবে */
}

ul.MuiChartsLegend-root li span {
  color: white !important; /* bullet + text white */
}
